HOST=127.0.0.1
PORT=3000
HIRO_API_KEY=*********************************
START_HEIGHT=5673277

BATCH_SIZE=5

# Check every 1 minute (60000 ms)
POLL_INTERVAL=60000

# DATABASE DETAILS
MONGO_URI=mongodb://*******************/db
MONGO_DB_NAME=db
MONGO_USERNAME=******************
MONGO_PASSWORD=******************
MONGO_AUTH_DB=*******************
Fees_COLLECTION=stacks-fees
FAILED_BLOCKS_COLLECTION=stacks-failed-blocks